html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details,
figcaption, figure,
footer, header,
hgroup, menu,
nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/OpenSans-Light.woff2) format("woff2"), url(fonts/OpenSans-Light.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/OpenSans-Regular.woff2) format("woff2"), url(fonts/OpenSans-Regular.woff) format("woff"); }

.rank {
  max-width: 700px;
  margin: 0 auto; }
  @media (max-width: 700px) {
    .rank {
      max-width: 100%; } }
  .rank .item {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    color: #000;
    list-style: none;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f7f7f7;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both; }
    .rank .item .item:nth-child(1) {
      animation-delay: 50ms, 50ms !important; }
    .rank .item .item:nth-child(2) {
      animation-delay: 100ms, 100ms !important; }
    .rank .item .item:nth-child(3) {
      animation-delay: 150ms, 150ms !important; }
    .rank .item .item:nth-child(4) {
      animation-delay: 200ms, 200ms !important; }
    .rank .item .item:nth-child(5) {
      animation-delay: 250ms, 250ms !important; }
    .rank .item .item:nth-child(6) {
      animation-delay: 300ms, 300ms !important; }
    .rank .item .item:nth-child(7) {
      animation-delay: 350ms, 350ms !important; }
    .rank .item .item:nth-child(8) {
      animation-delay: 400ms, 400ms !important; }
    .rank .item .item:nth-child(9) {
      animation-delay: 450ms, 450ms !important; }
    .rank .item .item:nth-child(10) {
      animation-delay: 500ms, 500ms !important; }
    .rank .item .item:nth-child(11) {
      animation-delay: 550ms, 550ms !important; }
    .rank .item .item:nth-child(12) {
      animation-delay: 600ms, 600ms !important; }
    .rank .item .item:nth-child(13) {
      animation-delay: 650ms, 650ms !important; }
    .rank .item .item:nth-child(14) {
      animation-delay: 700ms, 700ms !important; }
    .rank .item .item:nth-child(15) {
      animation-delay: 750ms, 750ms !important; }
    .rank .item .item:nth-child(16) {
      animation-delay: 800ms, 800ms !important; }
    .rank .item .item:nth-child(17) {
      animation-delay: 850ms, 850ms !important; }
    .rank .item .item:nth-child(18) {
      animation-delay: 900ms, 900ms !important; }
    .rank .item .item:nth-child(19) {
      animation-delay: 950ms, 950ms !important; }
    .rank .item .item:nth-child(20) {
      animation-delay: 1000ms, 1000ms !important; }
    .rank .item .item:nth-child(21) {
      animation-delay: 1050ms, 1050ms !important; }
    .rank .item .item:nth-child(22) {
      animation-delay: 1100ms, 1100ms !important; }
    .rank .item .item:nth-child(23) {
      animation-delay: 1150ms, 1150ms !important; }
    .rank .item .item:nth-child(24) {
      animation-delay: 1200ms, 1200ms !important; }
    .rank .item .item:nth-child(25) {
      animation-delay: 1250ms, 1250ms !important; }
    .rank .item .item:nth-child(26) {
      animation-delay: 1300ms, 1300ms !important; }
    .rank .item .item:nth-child(27) {
      animation-delay: 1350ms, 1350ms !important; }
    .rank .item .item:nth-child(28) {
      animation-delay: 1400ms, 1400ms !important; }
    .rank .item .item:nth-child(29) {
      animation-delay: 1450ms, 1450ms !important; }
    .rank .item .item:nth-child(30) {
      animation-delay: 1500ms, 1500ms !important; }
    .rank .item .avatar {
      float: left;
      margin-right: 20px;
      height: 60px;
      width: 60px;
      position: relative;
      display: inline-block; }
      .rank .item .avatar img {
        height: 60px;
        width: 60px;
        border-radius: 50%; }
      .rank .item .avatar .rank-label {
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        background: #fc4c02;
        position: absolute;
        right: 0px;
        top: 40px;
        line-height: 22px;
        color: #fff;
        font-size: 12px; }
    .rank .item .content {
      padding-top: 15px;
      display: inline-block;
      vertical-align: top;
      width: 100%; }
      .rank .item .content .numbers {
        float: right;
        font-weight: 400; }
        .rank .item .content .numbers span {
          margin-left: 4px;
          display: inline-block;
          min-width: 70px;
          text-align: center; }
        .rank .item .content .numbers .distance-per-day {
          font-size: 13px;
          color: #424242; }
        @media (max-width: 500px) {
          .rank .item .content .numbers .elevation,
          .rank .item .content .numbers .time,
          .rank .item .content .numbers .distance-per-day {
            display: none; } }
    .rank .item .progress-bar {
      height: 5px;
      display: inline-block;
      background: #fc4c02;
      border-radius: 5px;
      max-width: 100%;
      margin-top: 12px; }

.navbar {
  text-align: center;
  padding: 60px;
  background: #fc4c02;
  margin-bottom: 30px; }
  .navbar a {
    font-size: 25px;
    text-decoration: none;
    color: #fff; }

.alert {
  text-align: center;
  padding: 50px;
  font-size: 18px; }

.radio-button {
  text-align: right;
  padding: 0 20px 15px; }
  .radio-button li {
    display: inline-block;
    margin-left: 5px; }
  .radio-button a {
    text-decoration: none;
    color: #000;
    padding: 6px 20px;
    border: solid 1px #fc4c02;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.5s; }
    .radio-button a.active, .radio-button a:hover {
      background-color: #fc4c02;
      color: #fff; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }
